<!DOCTYPE html>
<html lang="en" ng-app="testHttpApp">
	<head>
		<title>Test Angular</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body ng-controller="TestCtrl">
		<ul>
			<li ng-repeat="thing in things">
			{{thing.name}}
			<p>{{thing.snippet}}</p>
			</li>
		</ul>
		<p>Nothing here {{'yet' + '!'}}</p>
	</body>
</html>
